<p>Hello <%= @user.name %>,</p>

<p>The following status of a section you are watching changed:</p>

<p>
Course: <%= @section.course.name %><br>
Section: <%= @section.name %><br>
Call Number: <%= @section.call_number %><br>
Status: <%= @section.status %><br>
</p>
