<% title @subject.name %>

<% content_for :right do %>
  <td id="right">
    <div class="block summary" id="summary_block">
      <h2><%= number_with_delimiter(@courses.total_entries) %></h2>
      <p>courses with subject</p>
      <%= link_to @subject.identifier, subject_path(@subject), :title => @subject.name, :class => 'tag' %>
      <p>for term</p>
      <%= link_to @term.name, subject_path(@subject, :term_id => @term), :title => @term.name, :class => 'tag' %>
    </div>
    
    <% if @terms.size > 1 %>
    <div class="block" id="subjects_block">
      <h3>Active Terms</h3>
      <% @terms.each do |term| %>
        <%= link_to term.name, subject_path(@subject, :term_id => term), :title => term.name, :class => 'tag' %>
      <% end %>
    </div>
    <% end %>
    
    <div class="block" id="subjects_block">
      <h3>Subjects</h3>
      <% @subjects.each do |subject| %>
        <%= link_to subject.identifier, subject_path(subject), :title => subject.name, :class => 'tag' %>
      <% end %>
    </div>
  </td>
<% end %>


<div class="page_title">
  <h2>
    <%= @subject.name %> Courses
  </h2>
  <p>All courses in <%= @subject.name %></p>
</div>

<table class="list">  
  <thead>
    <tr>
      <td colspan="5">
        <%= will_paginate @courses %>
      </td>
    </tr>
    <tr>
      <th class="vote"></th>
      <th class="course_name">Course</th>
      <th class="open_seats">Open Seats</th>
      <th class="total_seats">Total Seats</th>
      <th class="sections_count">Sections</th>
    </tr>
  </thead>
  <% if @courses.size > 0 %>

    <% if @courses.total_pages > 1 %>
    <tfoot>
      <tr>
        <td colspan="5">          
          <%= will_paginate @courses %>          
        </td>
      </tr>
    </tfoot>
    <% end %>

  <tbody>
    <% @courses.each do |course| %>
      <%= render :partial => 'courses/course', :locals => { :course => course } %>
    <% end %>
  </tbody>
  <% else %>
  <tbody>
    <tr>
      <td colspan="5">
      <p>No courses for this subject.</p>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>