<tr>
  <td class="subscribe">
    <%= link_to 'unsubscribe', section_unsubscribe_path(subscription.section), :title => "unsubscribe #{subscription.section.name}", :class => 'unsubscribe' %>
  </td>
  <td class="section_name">
    <%= subscription.section.name %>
  </td>
  <td class="course_name">
    <%= link_to subscription.section.course.name, course_path(subscription.section.course), :title => subscription.section.course.name %>
  </td>
  <td class="call_number">
    <%= subscription.section.call_number %>
  </td>
  <td class="term_name">
    <%= subscription.section.term.name %>
  </td>
  <td class="instructor_name">
    <%= link_to(subscription.section.instructor.name, instructor_path(subscription.section.instructor), :title => subscription.section.instructor.name) if subscription.section.instructor %>
  </td>
  <td class="status">
    <%= subscription.section.status %>
  </td>
</tr>
