<% title 'Courses' %>

<div class="page-header">
<h2>Courses</h2>
</div>

<div class="row">
  <div class="col-md-12">

    <%= paginate(@courses) %>

    <table class="table table-courses">
      <thead>
        <tr>
          <th class="name">
            Name
          </th>
          <th class="term">
            Term
          </th>
          <th class="sections">
            Sections
          <th class="seats">
            Seats
          </th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |c| %>
          <tr>
            <td class="name">
              <%= link_to c.name, course_path(c) %>
            </td>
            <td class="term">
              <%= c.term.name %>
            </td>
            <td class="sections">
              <%= c.sections_count %>
            </td>
            <td class="seats">
              <%= c.open_seats %> / <%= c.total_seats %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate(@courses) %>

  </div>
</div>