<% title @course.name %>

<% content_for :right do %>
  <td id="right">    
    <div class="block summary" id="course_sections_count_block">
      <h2><%= @sections.size %></h2>
      <p><%= @sections.size == 1 ? 'section' : 'sections' %> available in the </p>
      <%= link_to @term.name, course_path(@course, :term_id => @term), :title => @term.name, :class => 'tag' %>
      <p>term</p>
    </div>
    
    <% if @terms.size > 1 %>
    <div class="block" id="course_terms_block">
      <h3>Active Terms</h3>
      <% @terms.each do |term| %>
        <%= link_to term.name, course_path(@course, :term_id => term), :title => term.name, :class => 'tag' %>
      <% end %>
    </div>
    <% end %>

    <div class="block" id="course_subject_block">
      <h3>Subject</h3>
      <%= link_to @course.subject.identifier, subject_path(@course.subject), :title => @course.subject.name, :class => 'tag' %>
    </div>

    <% if @instructors.size > 0 %>
    <div class="block" id="course_instructors_block">
      <h3><%= @instructors.size == 1 ? 'Instructor' : 'Instructors' %></h3>
      <% @instructors.each do |instructor| %>
        <%= link_to instructor.name, instructor_path(instructor), :title => instructor.name, :class => 'tag' %>
      <% end %>
    </div>
    <% end %>
  </td>
<% end %>

<div class="page_title">
  <table>
    <tr>
      <td class="vote">
        <%= link_to 'like', course_up_path(@course), :title => 'up vote', :class => current_user.up_voted?(@course) ? 'liked' : 'like' %>
        <%= link_to 'dislike', course_down_path(@course), :title => 'down vote', :class => current_user.down_voted?(@course) ? 'disliked' : 'dislike' %>
      </td>
      <td>
        <h2>
          <%= @course.name %>
        </h2>
      </td>
    </tr>
  </table>
  <p>
    <span class="points">
      <%= pluralize(@course.score, 'point', 'points') %>
    </span> |
    <span class="comments">
      <%= link_to pluralize(@comments.size, 'comment', 'comments'), url_for(params.merge(:anchor => 'comments')), :title => pluralize(@comments.size, 'comment', 'comments') %>
    </span>
  </p>
</div>

<table class="list">
  <thead>
    <tr>
      <th class="subscribe"></th>
      <th class="section_name">Section Name</th>
      <th class="call_number">Call Number</th>
      <th class="instructor_name">Instructor</th>
      <th class="status">Status</th>
      <th class="open_seats">Open Seats</th>
      <th class="total_seats">Total Seats</th>
    </tr>
  </thead>
  <tbody>
    <% if @sections.size > 0 %>
      <% @sections.each do |section| %>
        <%= render :partial => 'sections/section', :locals => { :section => section } %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9">
          <p>No sections listed.</p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="comments">
  <div class="page_info">
    <h3>
      <a name="comments"></a>
      comments (<%= @comments.size %>)
    </h3>
  </div>

  <% form_for :comment, :url => url_for([@course, @comment]), :html => { :id => 'comment_form', :class => 'comment_form new' } do |f| %>
    <fieldset>
    <%= f.error_messages %>
    <table class="form">
      <%= render :partial => 'comments/form', :locals => { :f  => f } %>
      <tr>
      <td class="submit">
        <%= f.submit 'add comment', :class => 'button' %>
        <%= link_to 'formatting help', 'http://redcloth.org/hobix.com/textile/quick.html', :popup => true, :title => 'formatting help', :class => 'formatting_help' %>
      </td>
      </tr>
    </table>
    </fieldset>
  <% end %>

  <%= render :partial => 'comments/comments', :locals => { :comments => @comments } %>
</div>
