<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Third party Oklahoma State course catalog.">
    <meta name="author" content="Spike Spiegal">
    <title>Cowboy Courses</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cowboy Courses</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <% unless logged_in? %>
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li><a href="#courses">Courses</a></li>
              <li><a href="#subscriptions">Subscriptions</a></li>
              <li><a href="#settings">Welcome, <%= current_user.name %></a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>

